---
permalink: "/data/stream.json"
eleventyExcludeFromCollections: true
---
[
{%- set items = collections.streamItems | default([]) -%}
{%- for p in items | slice(0,50) -%}
{%- if not loop.first %},{% endif -%}
{"date":"{{ p.data.date | default('') | dump | safe }}",
 "url":"{{ p.url | dump | safe }}"}
{%- endfor -%}
]
