<!DOCTYPE html>
<html lang="{{ meta.mainLanguage | default('en') }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}</title>
    {% include "components/pageheader.njk" ignore missing %}
        <title>{% if title %}{{ title }}{% else %}{{ meta.title or "Site" }}{% endif %}</title>
  </head>
  <body class="theme-{{ meta.baseTheme }} {{ meta.bodyClasses }}">
    {% include "components/navbar.njk" ignore missing %}
    {% include "components/searchContainer.njk" ignore missing %}
    {# {% include "components/sidebar.njk" ignore missing %} #}
   <div class="page {% if showSidebar !== false %}has-sidebar{% else %}no-sidebar{% endif %}">
      {% if showSidebar !== false %}
        {% include "components/sidebar.njk" ignore missing %}
      {% endif %}
      <main class="content">
        {% block content %}{{ content | safe }}{% endblock %}
      </main>
    </div>
    {% include "components/searchScript.njk" ignore missing %}
    {# {% include "components/footer.njk" ignore missing %} #}
  </body>
</html>