{% extends "layouts/base.njk" %}

{% block content %}
<article class="note">
  <h1>{{ title or page.fileSlug }}</h1>
  {{ content | link | safe }}

  {% include "components/localgraph.njk" %}
</article>
{% endblock %}
