---
layout: "index.njk"
permalink: "/notes/blog/"
title: "Posts"
---

{# <h1>Blog Posts</h1> #}

{% if collections.posts.length %}
  <ul class="posts-list">
    {% for post in collections.posts %}
      <li>
        <article class="post-preview">
          <h2><a href="{{ post.url }}">{{ post.data.title | formatDailyTitle | default(post.fileSlug) }}</a></h2>
          {% if post.data.date %}
            <time datetime="{{ post.data.date | dateIso }}">{{ post.data.date | date }}</time>
          {% endif %}
          {% if post.data.description %}
            <p>{{ post.data.description }}</p>
          {% endif %}
        </article>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts yet.</p>
{% endif %}
