---
layout: "index.njk"
permalink: "/notes/"
title: "Notes"
---
{# <h1>Zettelkasten</h1> #}
<ul class="notes-index">
  {% for n in collections.notes %}
    <li><a href="{{ n.url }}">{{ n.data.title or n.fileSlug }}</a></li>
  {% endfor %}
</ul>
<div id="graph" style="width:100%;height:600px;border:1px solid var(--background-secondary);border-radius:12px;overflow:hidden;"></div>
