---
permalink: "/graph/"
layout: "base.njk"
title: "Graph View"
showSidebar: false
dgShowLocalGraph: false
---
<h1>Map of Ideas</h1>
<p>Look up concepts, tags, and relations across the whole garden.</p>
{% include "components/fullGraphPage.njk" %}
