---
permalink: "/graph/"
layout: "base.njk"
title: "Networked Notes"
showSidebar: false
dgShowLocalGraph: false
---
<h1>Map of Ideas</h1>
<p>Explore the 'Digital Garden' of developing thoughts, knowledge and ideas.</p>
{% include "components/fullGraphPage.njk" %}
